/* Basic App Styling */
.App {
  font-family: Poppins, sans-serif;
  background-image: url("background.svg");
  background-size: 1980px, 1080px;
  background-repeat: no-repeat;
}

.header {
  padding: 10px 50px; /* Adjust padding for better alignment */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center; /* Center the logo vertically */
  gap: 20px; /* Adjust space between the logo and text */
}

.nav {
  display: flex;
  align-items: center;
  gap: 30px; /* Adjust space between the nav items */
}

.nav li {
  list-style: none;
}

.nav button {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  background: none;
}

.explore-button {
  background-image: linear-gradient(to right, #ECB54E, #A01122); /* Orange button background */
  color: white;
}

.logo img {
  height: 45px; /* Set a height for your logo */
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between; /* Position content on both sides */
  padding: 50px 100px; /* Add padding around the hero section */
}

.hero-content {
  width: 50%; /* Content takes up half the width */
}

.hero-content h2 {
  font-size: 40px; /* Large heading */
}

.hero-images {
  width: 45%; /* Images take up slightly less than half the width */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-images img {
  width: 100%;
  height: auto;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
