/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
}
.font-Poppins-500 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
} 

.font-Poppins-400 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Correct weight for 400 */
}

.font-Poppins-600 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
